In [ ]:
# question 1: write code to reverse a sting.
str1="mithlesh chauhan"
print(str1[::-1])

nahuahc hselhtim

In [ ]:
# question 2 :Write  code to count the number of vowels in  string
str2="I am Mithlesh Chauhan"
count=0
for char in str2:
  if char=="a"or char=="e"or char=="i"or char=="o"or char=="u"or char=="A"or char=="E"or char=="I"or char=="O" or char=="U":
    count=count+1
print("the number of vowel in the given string is",count)

the number of vowel in the given string is 7

In [ ]:
# question3: write a code t check weather a string is palindrome or not.
ch3=str(input("enter a string "))
ch3=ch3.upper()    # to counter the error if there is upper or lower case diffrence
ch4=ch3[::-1]
if ch3==ch4:
  print(" the sring is palindrome ")
else:
  print("string is not a palindrome")

enter a string mim
 the sring is palindrome

In [ ]:
#question 4:Write code to check if two given strings are anagram of each other.
st1=str(input("enter first string "))
st2=str(input("enter second string "))
st1=st1.replace(" ","")
st2=st2.replace(" ","")
st1=sorted(st1)
st2=sorted(st2)
if st1==st2:
  print("Both the string are anagram")
else:
  print("the string are not anagram")

enter first string listen
enter second string silent
Both the string are anagram

In [ ]:
#Question 5: write the code to find all occurances of a given substring within another string
def find_all_occurrences(text, substring):
    start = 0
    occurrences = []

    while True:
        start = text.find(substring, start)
        if start == -1:  # No more occurrences found
            break
        occurrences.append(start)
        start += 1  # Move past the current match

    return occurrences

# Example usage
text = "This is a test. Testing is fun. Test this out."
substring = "test"
result = find_all_occurrences(text.lower(), substring.lower())
print(result)

[10, 16, 32]

In [ ]:
#question 6: write the code to  perform basic string compression using the count of the repeted charecter.
def compress_string(string):



  compressed_string = ""
  count = 1

  for i in range(1, len(string)):
    if string[i] == string[i - 1]:
      count += 1
    else:
      compressed_string += string[i - 1] + str(count)

      count = 1

  compressed_string += string[-1] + str(count)

  return compressed_string

string="aaabbbcccccddss"
print(compress_string(string))

a3b3c5d2s2

In [ ]:
#Question 7:write a code to find that all the char are unique or not.
str7=str(input("enter a string "))
str7.replace(" ","")   #it will remove the space from the string
l=len(str7)
char_set=set()
for char in str7:
  char_set.add(char)
m=len(char_set)
if l==m:
  print("the string has unique character")
else:
  print("not unique")
#the basic understanding about this code is that if the length of the string is equal to lenght of the set
# which is consist of the unique element of the string then it have uniqe character

enter a string mithl
the string has unique character

In [ ]:
#Question 8: write a string to convert a string to uppercase or lowercase.
str8=str(input("enter a string  "))
str8=str8.upper()
print(str8)
str8=str8.lower()
print(str8)

enter a string  MITH
MITH
mith

In [ ]:
#Question9: write a code to count the number of word in a string
str9=str(input("enter a string "))
words=str9.split()
l=len(words)
print(l)

enter a string i am mithlesh chauhan
4

In [ ]:
#Question10: write a code to con catcatenate two string without using + operator
st=str(input("input first string "))
string=str(input("input second string "))
new_string=""
for char in st:
  new_string=new_string+char
for char in string:
  new_string=new_string+char
print(new_string)

input first string mith'
input second string nnn
mith'nnn

In [ ]:
#Question11: Write code to remove all occurrences of  specific element from  list
list1=["mithlesh","mithlesh","chauhan","pw","skills"]
list2=[]
for st in list1:
   if st!="mithlesh":
     list2.append(st)
print(list2)

['chauhan', 'pw', 'skills']

In [ ]:
#Question12: implement a code to find second largest number in a given list of integer.
list1=[77,32,32,42,41,31,21]
list1.sort()
print(list1)
print(f"the second largest number in the list is {list1[-2]}")

[21, 31, 32, 32, 41, 42, 77]
the second largest number in the list is 42

In [ ]:
#Question13: Create a code to count the number of occurance of each element of the list
# and return a dictionary with element as key and count as value
list2=[1,3,1,2,3,2,4,5,3,4,5]
dict1 = {}
# Count the occurrences of each element
for element in list2:
    if element in dict1:
        dict1[element] += 1
    else:
        dict1[element] = 1
print(dict1)

{1: 2, 3: 3, 2: 2, 4: 2, 5: 2}

In [ ]:
#Question 14: Write a code to reverse a without using any builtin function.
list3=[1,35,53,12,3,54,2]
list3=list3[::-1]
print(list3)

[2, 54, 3, 12, 53, 35, 1]

In [ ]:
#Question 15:implement a code to find and remove a duplicate entry from the list without disturbing the order .
list3=[1,35,53,12,1,3,53,54,2,2]
list4=[]
for num in list3:
  if num not in list4:
    list4.append(num)
print(list4)

[1, 35, 53, 12, 3, 54, 2]

In [ ]:
#Question 16:Create a code to check weather the given list is sorted(eighter in ascending or descending order)or not
def is_sorted(lst):
    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
    if ascending:
        return "The list is sorted in ascending order."
    elif descending:
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."

# Example usage
list7 = [1, 2, 3, 4, 5]
print(is_sorted(list7))

The list is sorted in ascending order.

In [ ]:
#Question 17: write a code to mearge two sorted list into single sorted list.
l=[1,2,3,2,21,34,13]
m=[32,53,32,43,22,54,223,56,744,43]
l.sort()
m.sort()
n=l+m
n.sort()
print(n)

[1, 2, 2, 3, 13, 21, 22, 32, 32, 34, 43, 43, 53, 54, 56, 223, 744]

In [10]:
# implement acode to find the intersection of two list.
def intersection(list1, list2):
    """Finds the intersection of two lists."""
    intersection_list = []
    for item in list1:
        if item in list2 :
            intersection_list.append(item)
    return intersection_list

# Example usage
print(intersection([1, 2, 3, 4,5, 5], [3, 4, 5, 6,5, 7]))

[3, 4, 5, 5]

In [13]:
#Question18: Creat a code that finds the union of two list without duplicates.
def union_list(list3,list4):
  set3=set(list3)
  set4=set(list4)
  union_set= set3.union(set4)
  return union_set
list1=[1,2,3,4,5,6,7,8]
list2=[4,5,6,7,8,9,10]
print(union_list(list1,list2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
#Question 20: write a code to suffle the element of the list without using any inbuilt function
import random

def shuffle_list(lst):
  """Shuffles the elements of a list in-place without using built-in functions."""

  for i in range(len(lst)):
    # Generate a random index between i and the end of the list
    j = random.randint(i, len(lst) - 1)

    # Swap the elements at indices i and j
    lst[i], lst[j] = lst[j], lst[i]

# Example usage
my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)

[1, 4, 5, 3, 2]

In [16]:
#Question21:Write a code to take two tuple as input and return a new tuple which have common element of both tuples
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))


tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

In [25]:
#Question23: Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
# intersection of these two sets
set1=set(map(int, input("enter element of set1 ").split(',')))
set2=set(map(int, input("enter element of set2 ").split(',')))
set3=set1.intersection(set2)
print(f"the intersection of both set are {set3}")

enter element of set1 1,2,3,4,5,6
enter element of set2 3,4,5,6,7,8,9
the intersection of both set are {3, 4, 5, 6}

In [26]:
#Question23: Write a code to concatenate two tuples. The function should take two tuples as input and return a new
#tuple containing elements from both input tuples
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

In [27]:
#Question24:Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
#           present in the first set but not in the second set.
def get_set_from_input(prompt):
    return set(input(prompt).split(','))

# Prompt the user for input and calculate the difference
set1 = get_set_from_input("Enter the first set of strings, separated by commas: ")
set2 = get_set_from_input("Enter the second set of strings, separated by commas: ")

difference_set = set1 - set2
print("Elements present in the first set but not in the second set:", difference_set)

Enter the first set of strings, separated by commas: 1,2,3,45,5,6,7
Enter the second set of strings, separated by commas: 4,5,6,78,8
Elements present in the first set but not in the second set: {'1', '3', '2', '7', '45'}

In [28]:
#qustion25:Create a code that takes a tuple and two integers as input. The function should return a new tuple
#          containing elements from the original tuple within the specified range of indices
def slice_tuple(input_tuple, start_index, end_index):
    # Validate indices
    if start_index < 0 or end_index >= len(input_tuple) or start_index > end_index:
        return "Invalid indices"

    # Slice the tuple
    return input_tuple[start_index:end_index + 1]

# Example usage
input_tuple = (10, 20, 30, 40, 50, 60, 70, 80)
start_index = 2
end_index = 5

result = slice_tuple(input_tuple, start_index, end_index)
print(result)

(30, 40, 50, 60)

In [29]:
#Question 26:Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.
def get_set_from_input(prompt):
    return set(input(prompt).split(','))

# Prompt the user for input
set1 = get_set_from_input("Enter the first set of characters, separated by commas: ")
set2 = get_set_from_input("Enter the second set of characters, separated by commas: ")

# Find the union of the two sets
union_set = set1 | set2

# Print the result
print("The union of the two sets is:", union_set)

Enter the first set of characters, separated by commas: mith,lesh,chauhan,ramesh,suresh
Enter the second set of characters, separated by commas: mith,suresh,chauhan
The union of the two sets is: {'suresh', 'chauhan', 'ramesh', 'lesh', 'mith'}

In [30]:
#question 27:Develop a code that takes a tuple of integers as input. The function should return the maximum and
#minimum values from the tuple using tuple unpacking.
def find_max_min(input_tuple):
    max_value = max(input_tuple)
    min_value = min(input_tuple)
    return max_value, min_value

# Example usage
input_tuple = (10, 20, 30, 40, 5, 60, 70, 15)
max_value, min_value = find_max_min(input_tuple)
print(f"Maximum value: {max_value}, Minimum value: {min_value}")

Maximum value: 70, Minimum value: 5

In [31]:
#Question 28:Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
#            two sets.
# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union of the sets
union_set = set1 | set2
print("Union of the sets:", union_set)

# Intersection of the sets
intersection_set = set1 & set2
print("Intersection of the sets:", intersection_set)

# Difference of the sets (set1 - set2)
difference_set1 = set1 - set2
print("Difference of set1 - set2:", difference_set1)

# Difference of the sets (set2 - set1)
difference_set2 = set2 - set1
print("Difference of set2 - set1:", difference_set2)

Union of the sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the sets: {4, 5}
Difference of set1 - set2: {1, 2, 3}
Difference of set2 - set1: {8, 6, 7}

In [33]:
#question 29:Write a code that takes a tuple and an element as input. The function should return the count of
#occurrences of the given element in the tuple
def count_occurrences(tuple, element):
  """Counts the occurrences of an element in a tuple.

  Args:
    tuple: The input tuple.
    element: The element to count.

  Returns:
    The number of occurrences of the element in the tuple.
  """

  count = 0
  for item in tuple:
    if item == element:
      count += 1
  return count

# Example usage
my_tuple = (1, 2, 3, 2, 4, 2)
element_to_count = 2
result = count_occurrences(my_tuple, element_to_count)
print(result)

3

In [34]:
#question30:Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
#these two sets.
def symmetric_difference(set1, set2):
  """Calculates the symmetric difference of two sets.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    The symmetric difference of the two sets.
  """

  return set1.symmetric_difference(set2)

# Get input from the user
set1_str = input("Enter elements for set 1 (separated by spaces): ")
set2_str = input("Enter elements for set 2 (separated by spaces): ")

# Create sets from the input strings
set1 = set(set1_str.split())
set2 = set(set2_str.split())

# Calculate and print the symmetric difference
result = symmetric_difference(set1, set2)
print("Symmetric difference:", result)

Enter elements for set 1 (separated by spaces): 1 2 34 56 75
Enter elements for set 2 (separated by spaces): 1 2 3 5 3 56
Symmetric difference: {'75', '5', '3', '34'}

In [36]:
#Question31: Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
#and the values are the frequencies of those words in the input list

def word_frequencies(word_list):
    frequency_dict = {}
    for word in word_list:
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict

# Example usage
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
result = word_frequencies(words)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1}

In [37]:
#Question32:Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
#          common keys, the values should be added together
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict

# Example usage
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}

result = merge_dictionaries(dict1, dict2)
print(result)

{'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [38]:
#Question 33:& Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
#keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
#function should return None.
def get_nested_value(nested_dict, keys):
    current_dict = nested_dict
    for key in keys:
        if isinstance(current_dict, dict) and key in current_dict:
            current_dict = current_dict[key]
        else:
            return None
    return current_dict

# Example usage
nested_dict = {
    'a': {
        'b': {
            'c': 'value'
        }
    }
}
keys = ['a', 'b', 'c']
value = get_nested_value(nested_dict, keys)
print(value)

keys = ['a', 'b', 'x']
value = get_nested_value(nested_dict, keys)
print(value)

value
None

In [39]:
#Question34:Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
#can choose whether to sort in ascending or descending order.
def sort_dict_by_values(input_dict, ascending=True):
    sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending)
    return dict(sorted_items)

# Example usage
input_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_dict_asc = sort_dict_by_values(input_dict, ascending=True)
sorted_dict_desc = sort_dict_by_values(input_dict, ascending=False)

print("Sorted dictionary (ascending):", sorted_dict_asc)
print("Sorted dictionary (descending):", sorted_dict_desc)

Sorted dictionary (ascending): {'b': 1, 'c': 2, 'a': 3}
Sorted dictionary (descending): {'a': 3, 'c': 2, 'b': 1}

In [40]:
#question35:Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
#correctly handles cases where multiple keys have the same value by storing the keys as a list in the
#inverted dictionary
def invert_dict(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

# Example usage
input_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
result = invert_dict(input_dict)
print(result)  # Outputs: {1: ['a', 'c'], 2: ['b'], 3: ['d']}

{1: ['a', 'c'], 2: ['b'], 3: ['d']}