In [23]:
# question1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#            the list.

def add_even_numbers(lis):
  sum=0
  for num in lis:
    if num%2==0:
      sum+=num
  return sum
list1=[2,4,7,1,23,7,20,5,88,65]
print(add_even_numbers(list1))

114

In [ ]:
#question2:Create a Python function that accepts a string and returns the reverse of that string.
def reverse_string(st):
  st1=st[::-1]
  print( st1)
reverse_string(st="mithlesh")

hselhtim

In [ ]:
 # question 3: Implement a Python function that takes a list of integers and returns a new list
 #             containing the squares of each number.
list1=[1,2,3,4,5,9,11,15]
list(map(lambda x:x**2,list1))

[1, 4, 9, 16, 25, 81, 121, 225]

In [ ]:
# question 4: Write a Python function that checks if a given number is prime or not from 1 to 200.
def check_prime(num):
    if num <= 1:  # Check for 0, 1, and negative numbers
        print(f"The number {num} is not prime.")
        return
    for i in range(2, num):
        if num % i == 0:
            print(f"The number {num} is composite.")
            break
    else:
        print(f"The number {num} is prime.")

number = int(input("Enter a number to check if it is prime or not: "))
check_prime(number)

Enter a number to check if it is prime or not: 0
The number 0 is not prime.

In [1]:
# Question 5 :Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
              #terms.
class FibonacciIterator:
    def __init__(self, num_terms):
        self.num_terms = num_terms
        self.index = 0
        self.a, self.b = 0, 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.index >= self.num_terms:
            raise StopIteration
        if self.index == 0:
            self.index += 1
            return self.a
        elif self.index == 1:
            self.index += 1
            return self.b
        else:
            self.index += 1
            next_value = self.a + self.b
            self.a, self.b = self.b, next_value
            return next_value

# Example usage
num_terms = 10
fib_iter = FibonacciIterator(num_terms)
for num in fib_iter:
    print(num)

0
1
1
2
3
5
8
13
21
34

In [5]:
# Question 6: Write a generator function in Python that yields the powers of 2 up to a given exponent
def power_of_two(exp):
  for i in range(exp+1):
    yield  2**i
for i in power_of_two(10):
    print(i)

1
2
4
8
16
32
64
128
256
512
1024

In [6]:
#question7. Implement a generator function that reads a file line by line and yields each line as a string.
def read_file_line_by_line(file_path):
    try:
        with open(file_path, 'r') as file:
            for line in file:
                yield line.strip()
    except FileNotFoundError:
        print(f"Error: The file '{file_path}' does not exist.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Example usage
file_path = 'example.txt'
for line in read_file_line_by_line(file_path):
    print(line)

Error: The file 'example.txt' does not exist.

In [ ]:
#question8: Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [24]:
list10=[(1,2),(4,6),(7,1),(8,2)]
sorted_list = sorted(list10, key=lambda x: x[1])
print(sorted_list)

[(7, 1), (1, 2), (8, 2), (4, 6)]

In [ ]:
#Queestion 9 :Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# List of temperatures in Celsius
celsius_temps = [0, 20, 37, 100]

# Using map() to convert each temperature to Fahrenheit
result=list(map(celsius_to_fahrenheit, celsius_temps))
print(result)

In [15]:
#question10: Create a Python program that uses `filter()` to remove all the vowels from a given string
def remove_vowels(input_string):
    vowels = "aeiouAEIOU"
    return ''.join(filter(lambda char: char not in vowels, input_string))

# Example
input_string = "Hello, World!"
result = remove_vowels(input_string)
print(result)

Hll, Wrld!

In [25]:
'''question11: Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

lt=[[34587,"learning python","mark lutz",4,40.95],
      [98762,"programming python","mark lutz",5,56.80],
      [77226,"head first python","paul berry",3,32.95],
      [88112,"Einfuhrung in python3","Bernd klein",3,24.99]   ]





Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.'''

orders = [
    [34587, "learning python", "mark lutz", 4, 40.95],
    [98762, "programming python", "mark lutz", 5, 56.80],
    [77226, "head first python", "paul berry", 3, 32.95],
    [88112, "Einfuhrung in python3", "Bernd klein", 3, 24.99]
]

# Function to calculate the total order value
calculate_order = lambda order: (order[0], order[3] * order[4] + (10 if order[3] * order[4] < 100 else 0))

# Applying the function to each order
order_totals = list(map(calculate_order, orders))

# Print the result
print(order_totals)


#remark : The function is running good in the spyder but here it is not running
          # i am unable to fix iit please do add remark in  this regard in the result

TypeError: 'list' object is not callable