**Question1** :Discuss string slicing and provide examples
**Answer**:string slicing is the method by which a sub string can be extracted from a given string .
for this we use index method for whre to start and where to end the slicing. the example is given bellow

In [ ]:
#string slicing example
str1="Hi, I am mithlesh chauhan currently learning the python for data analytics"
str2=str1[0:25]
print(str2) #here we slice the part of str1 and store in another string str2

Hi, I am mithlesh chauhan

In [ ]:
str1="Hi, I am mithlesh chauhan currently learning the python for data analytics"
str3=str1[-1]
print(str3) # here the negetive index gives the character from the end of the string

s

In [ ]:
str1="Hi, I am mithlesh chauhan currently learning the python for data analytics"
print(str1[0:25:2]) #here the [0:25:2] the first argument tell the starting point second one tell the ending point
                    # and the third one tell the number of item to skip

H,Ia ihehcahn

**Question 2**: Explain the key feature of list in python
**Answer**: List is a data type which store the hetrogenenous data in the mutable form. or we can say that
list are the ordered collection of the hetrogenous item.
some key features of list
a)mutable
b)ordered
c)every element are indexed the index start from zero
d)every new element are added to the end of the list
e)we can retrive the element using the index
and there are many more feature of the list...

**Question3**: Describe how to access , modify and delete eelment in a list with example.
**Answer**: there are some function that are ussed to do so the process is explianed in the example given below

In [ ]:
# how to access the element in a list
list1=["mithlesh chauhan","aniniket gupta",54, -45,5.4]
print(list1[0]) #here we use index to access the element of the list1

mithlesh chauhan

In [ ]:
#modify the element of the list
list1=["mithlesh chauhan","aniniket gupta",54, -45,5.4]
list1[0]="pawan"
print(list1)

['pawan', 'aniniket gupta', 54, -45, 5.4]

In [ ]:
#to delete element from a list
list1=["mithlesh","aniniket gupta",54, -45,5.4]
list1.pop() #the will delete the last element of the list
print(list1)
list1.remove("mithlesh") # this will remove the specific element from the list
print(list1)
list1.clear()# this will clear the list and return a empty list
print(list1)

['mithlesh', 'aniniket gupta', 54, -45]
['aniniket gupta', 54, -45]
[]

**Question 4**:Compare and contrast tuples and lists with examples.
**Answer**: The basic diffrence between tuples and list is mutability
list are mutable in nature but tuples are not mutable
we cannot change the element of tuple once entered but we can change the same in the list
tuples are more efficent than the list.
tuples use less memory so they are faster when data access from them.The use case of the the list and the tuples are differnt as
tuples are used for the data set which are stable ar can say fixed in nature for examples data base of employee id of the emploee of a Institute or the data set of the aadhar number of the citizen of India etc.
use of list are used to the data set where the data can change by time like the data of  monthly revenue and expenditure of a company etc.
The below exmple will clear some more diffrence

In [ ]:
# tuples and list
list1=[1,2,3,4,5,6,7,8,9,10]
tuple1=(1,2,3,4,5,6,7,8,9,10)
list1.append(11)
print(list1)
# tuple.append(11)
#type object 'tuple' has no attribute 'append'     -this error will be  thrown by python
# this mean the tuples are immutable while the lists are mutable in nature.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**Question 5**: Describe the key feature of the sets and provide the example of their use.
**Answer**:The the sets are the unordered and unique collection of the  elements which are unmutable data structure which means we cannot modify the data once created in the sets and uniqueness means that duplicate entry are are not counted in the set .
since the sets are immutable this means it have stable hash value so it is a bit faster and memory efficient  than the mutable  data structures .
some of the use cases are given below in the example with code.

In [44]:
#example of set usage using set operation
a={1,2,3,4,5,6}
b={6,7,8,9,10}
print("union of a and b is ",a|b)
print("intersection of a and b is ", a&b)
print("diffrence of a and b is",a-b)
print("symmetric diffrence of the a and b is ",a^b)
# the above are the example of the set operation this is very useful in the real life problem used in data analysis

union of a and b is  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
intersection of a and b is  {6}
diffrence of a and b is {1, 2, 3, 4, 5}
symmetric diffrence of the a and b is  {1, 2, 3, 4, 5, 7, 8, 9, 10}

**Question6**:discuss the use cases of tuples and sets in python programming.
**Answer**:Tuples are ordered immutable data types so,we use the tuples when we do not have to modify the data whereas the sets are also immutable but the uniqness preserve here hence sets are used when we have to maintain the uniqness.

**Question7**:Describe how to add , modify and delete item in the dictionary?
**Answer:**The expalination is in the code given below.

In [47]:
my_dict={"name":"mithlesh chauhan","course":"data analytics","college":"BHU"}
my_dict["mobile number"]="8948097162"    # this will add the item (key value pair) to th dictionary
print(my_dict)
my_dict["mobile number"]="9598230075"
print(my_dict) # this will modify the  value of the given key
del my_dict["mobile number"] #this will delete the given key value pairs fron the dictionary
print(my_dict)

{'name': 'mithlesh chauhan', 'course': 'data analytics', 'college': 'BHU', 'mobile number': '8948097162'}
{'name': 'mithlesh chauhan', 'course': 'data analytics', 'college': 'BHU', 'mobile number': '9598230075'}
{'name': 'mithlesh chauhan', 'course': 'data analytics', 'college': 'BHU'}

**Question 8**: discuss the importance of the dictionary key being immutable with example.
**Answer**: Consistency: Immutability ensures that the hash value of a key remains stable , this make the dictionary faster as the value locates quickly

Performance: Mutable objects can change, leading to unpredictable hash values. If dictionary keys were mutable, every change in a key would require rehashing and repositioning the key-value pair, significantly slowing down operations.

Error Prevention: By restricting keys to immutable types like strings, numbers, or tuples, Python avoids potential bugs and errors that could arise from mutable keys being altered.

In [ ]:
my_dict = {["key"]: "value"}  # This will throw an error because the key is stored as list whic is mutable
# we can only store immutable data stucture in the key

In [48]:
dict1={("first name" ," last name"):"mithlesh chauahn"}
dict2={"name": "mithlesh chauhan"}
print(dict1)
print(dict2)

{('first name', ' last name'): 'mithlesh chauahn'}
{'name': 'mithlesh chauhan'}